
body{
	text-align: center;
}
header{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    //height: 90px;
    background-color: white;
    z-index: 1;
}
header div{
	margin-top: 30px;
}
header div nav{
	margin-top: 15px;
	margin-bottom: 10px;
}

.main{
	margin-top: 150px;
	width: 100%;
}
.main table{
	text-align: center;
	width: 50%;
	margin:0 auto;
}
.main table tr td{
	width: 50%;
}
.info_div{
	position: relative;
	width: 500px;
	margin:0 auto;
	
}
.info_div div{
	//float: left;
}
.info_div img{

	width: 120px;
}

footer{
	margin-top: 50;
	margin-bottom: 30;
}
