
body{
	text-align: center;
}
header{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    //height: 90px;
    background-color: white;
    z-index: 1;
}
header div{
	margin-top: 30px;
}
header div nav{
	margin-top: 15px;
	margin-bottom: 10px;
}

.main{
	margin-top: 150px;
	width: 100%;
}

.columns {
  
  column-width: 300px;
  column-gap: 15px;
  width: 70%;
  max-width: 1100px;
  margin: 50px auto;
  //background-color: red;
  text-align: center;
}  

div.columns div {
  //background: #fefefe;
  //border: 0px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  //padding: 15px; padding-bottom: 10px;
  transition: opacity .4s ease-in-out;

}
.columns_div{
   /*display: inline-block;*/
}

div.columns div img {
  width: 100%; 
  height: auto;
  //border-bottom: 1px solid #ccc;
  //padding-bottom: 15px;
  margin-bottom: 5px;
}
div.columns div p {
  width: 100%;
  margin-top: 0px auto; 
  height: 30px;
  text-align: center;
}
div.columns:hover div:not(:hover) { opacity: 0.4; }

.main table{
	text-align: center;
	width: 50%;
	margin:0 auto;
}
.main table tr td{
	width: 50%;
}
.info_div{
	position: relative;
	margin:0 auto;
	
}
.info_div div{
	//float: left;
}
.info_div img{

	width: 240px;
}

footer{
	margin-top: 50;
	margin-bottom: 30;
}



@media screen and (max-width: 750px) {
	.info_div img{
		width: 50%;
	}
	.columns { column-gap: 0px; }
  	.columns div { width: 100%; }
}


